h1,p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }

  th {
    font-weight: bold;
  }

  tbody td:nth-child(2),
  tbody td:nth-child(3),
  tbody td:nth-child(4),
  tbody td:nth-child(5) {
    text-align: center;
  }

  tbody td:nth-child(6) input {
    width: 80px;
    text-align: right;
  }

  .highlight {
    background-color: #6b6a6a;
  }

  .total-row td {
    font-weight: bold;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }